# SUPABASE API

# Client-side (public)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Server-side (private)
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Gemini
GEMINI_API_KEY=

# Open AI
OPENAI_API_KEY=

# Groq
GROQ_API_KEY=

# Mistral
MISTRAL_API_KEY=