auto-install-peers = true
enable-pre-post-scripts=true # Enable pre/post scripts (for postui:add)

# Ignore deprecation warnings for specific packages
ignore-deprecation=@humanwhocodes/config-array
ignore-deprecation=@humanwhocodes/object-schema
ignore-deprecation=glob
ignore-deprecation=inflight
ignore-deprecation=rimraf
